In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
train_data = pd.read_csv('../data/HomeCredit_columns_description.csv')

In [5]:
#查看資料內容
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 11 columns):
Table            219 non-null object
Row              219 non-null object
Description      219 non-null object
Special          86 non-null object
Unnamed: 4       205 non-null float64
Table.1          205 non-null object
Row.1            205 non-null object
Description.1    205 non-null object
Special.1        80 non-null object
Unnamed: 9       1 non-null object
Unnamed: 10      1 non-null object
dtypes: float64(1), object(10)
memory usage: 18.9+ KB

In [6]:
train_data.describe()

       Unnamed: 4
count  205.000000
mean   105.458537
std     60.206462
min      1.000000
25%     54.000000
50%    105.000000
75%    156.000000
max    221.000000

In [7]:
train_data.head(1)
train_data.tail(1)

,Table,Row,Description,Special,Unnamed: 4,Table.1,Row.1,Description.1,Special.1,Unnamed: 9,Unnamed: 10
218,installments_payments.csv,AMT_PAYMENT,What the client actually paid on previous cred...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN